@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size-adjust: 100%;
}

header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding-top: 5px; 
    background-image: url("../img/pattern.jpg");
    background-color: #fff;
}

article p{
    text-align: justify;
    text-indent: 2em;
}

article section{
    text-align: center;
    margin: 10px auto;
}

h1{
    text-align: center;
}
