@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size-adjust: 100%;
}

header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background-color: aqua;
}

article {}
